h1 {
    font-weight: 150;
}

h2 {
    font-weight: 200;
}

body {
    padding-left: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#front-end-container {
    display: inline-block;
    margin-right: 1.5rem;
    border-radius: 15px;
    border: 1px solid darkslategrey;
    text-align: center;
    width: 20rem;
    height: 10rem;
}

#back-end-container {
    display: inline-block;
    margin-right: 1.5rem;
    border-radius: 15px;
    border: 1px solid darkslategrey;
    text-align: center;
    width: 20rem;
    height: 10rem;
}

#screenshots-container {
    display: inline-block;
    border-radius: 15px;
    border: 1px solid darkslategrey;
    text-align: center;
    width: 20rem;
    height: 10rem;
}