/**
* Styling for the login part of the login section.
*/
#login-article {
    width: 100%;
}

#login-header {
    font-size: 2.5em;
}

#login-header-container {
    width: 65rem;
}

.login-ul {
    list-style: none;
    margin-top: -4rem;
    margin-bottom: -2rem;
    text-align: left;
}

.login-list-element {
    font-size: 1.5em;
    margin-top: -0.5rem;
    text-align: left;
}

.login-list-element-label {
    margin-top: -1rem;
    font-size: 1.5em;
    text-align: left;
}

.text-bar {
    background-color: rgb(255, 255, 255);
    margin-top: 0.75rem;
    border: 1px solid rgb(54, 158, 157);
    height: 2rem;
    width: 15rem;
    border-radius: 7px;
    font-size: 0.75em;
    text-align: left;
    color: rgb(0, 0, 0);
}

.text-bar:hover {
    border: 2px solid rgb(61, 121, 226);
}

#login-button {
    margin-top: 4rem;
    background-color: green;
    margin-left: 4rem;
}

#goto-register-button {
    margin-left: 4rem;
}

#login-content-section {
    text-align: left;
}

#goto-register-section {
    text-align: left;
    padding-bottom: 15rem;
}

#register-paragraph {
    text-align: left;
    padding-left: 3rem;
    margin-top: 5rem;
    font-weight: 150;
}

#register-link * {
    text-decoration: none;
}

#goto-register-button * {
    text-decoration: none;
}