#register-article {
    width: 100%;
}

#register-header-container {
    width: 65rem;
}


.login-form {
    width: 30%;
    display: grid;
    margin-left: 4rem;
    margin-top: 3rem;
    margin-bottom: 19rem;
}

#sign-up-button {
    cursor: pointer;
    margin-left: 25%;
    width: 50%;
}

.strength-bar {
    margin: 8px 0;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 6px;
    border-radius: 3px;
    background: #dfe1f0;
}

.strength-bar div {
    height: 6px;
    border-radius: 3px;
    transition: 0.4s;
    width: 0%;
}

.strength-bar.weak div {
    background: #e24c71;
    width: 33.33%;
}

.strength-bar.decent div {
    background: #f39845;
    width: 66.66%;
}

.strength-bar.strong div {
    background: #57c558;
    width: 100%;
}

#strength-label {
    text-align: left;
    height: 30px;
    text-transform: capitalize;
    color: #868b94;
}
