/**
* Styling for the budget section.
*/
* {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    text-align: left;
    padding-left: 5rem;
}

h2 {
    padding-left: 5rem;
}

article {
    width: 100%;
}

#margin-label {
    padding-left: 0rem;
}

#status-container-label {
    padding-left: 0rem;
}

#status-container {
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

#budget-margin {
    width: 25rem;
    margin-left: 33%;
    margin-right: auto;
    margin-top: -22rem;
    display: block;
}

#expense-container {
    display: inline-block;
    margin-left: -0rem;
    margin-right: 2rem;
    margin-top: -0rem;
    max-width: 25rem;
}

#income-container {
    display: inline-block;
    margin-left: -5rem;
    margin-top: -0rem;
    max-width: 25rem;
}

#total-income {
    color: green;
}

#total-expense {
    color: red;
}

#net-worth {
    color: black;
}

#budget-spendings {
    color: black;
}

#margin {
    color: green;
}

.red {
    color: red;
}

.green {
    color: green;
}

th {
    border-bottom: 1px solid #000000;
}

table {
    padding-top: 5rem;
}

#expense-container-label {
    padding-left: 0rem;
}
* {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    text-align: left;
    padding-left: 5rem;
}

h2 {
    padding-left: 5rem;
}

article {
    width: 100%;
}

#limit-label {
    padding-left: 0rem;
}

#status-container-label {
    padding-left: 1rem;
}

#status-container {
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

#budget-limit {
    width: 35rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -22rem;
    display: block;
}

#expense-container {
    padding-right: 12rem;
    display: inline-block;
    padding-left: 1rem;
}

#income-container {
    padding-left: 12rem;
    display: inline-block;
}

#total-income {
    color: green;
    padding-left: 1rem;
}

#total-expense {
    color: red;
    padding-left: 1rem;
}

#net-worth {
    color: black;
}

#budget-spendings {
    color: black;
    padding-left: 1rem;
}

#margin {
    color: green;
    margin-left: 1rem;
}

.red {
    color: red;
}

.green {
    color: green;
}

th {
    border-bottom: 1px solid #000000;
}

table {
    padding-top: 5rem;
}

#expense-container-label {
    padding-left: 0rem;
}

#income-container-label {
    padding-left: 0rem;
}

#budget-date-range-container {
    width: 50rem;
    margin-left: -12rem;
}

#start-date-container {
    display: inline-block;
    margin-right: 2rem;
}

#date-range-divider {
    margin-top: -2rem;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
}

#end-date-container {
    display: inline-block;
    margin-left: 2rem;
}

